/* App.css */

.header {
  padding-bottom: 5px;
}

.brand-header {
  font-family: "Didot", serif;
  padding-bottom: 20px;
}

.header-custom {
  position: fixed;
  top: 175px;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 50;
}

.header-button {
  margin: 0 10px;
  padding: 5px;
}

.content {
  margin-top: 200px;
  padding-top: 50px;
}

.dark-gold-text {
  color: #d5b500;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 100;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  width: 50%;
  max-height: 400px;
  overflow-y: auto;
}

.dropdown-content {
  max-height: 200px;
  overflow-y: auto;
}

.image-slider {
  width: 100%;
  overflow: hidden;
}

.image-slider img {
  width: 100%;
  height: 500px;
  display: block;
}

.product-item {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-name {
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  margin-top: 10px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.product-item {
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none !important;
}
